# 3. Zettelkasten

Nachdem wir entweder Python lokal auf einem Rechner installiert haben oder eine Version nutzen, die online zur Verfügung gestellt wird, geht es uns im Folgenden darum, wie wir mit Python einen Zettelkatalog nachbilden können, der noch vor zu Beginn des 21. Jahrhunderts in Bibliotheken Verwendung fand.

Zu allererst legen wir einen Zettel mit einem ausgedachten Titel einer spätmittelalterlichen [Inkunabel](https://de.wikipedia.org/wiki/Inkunabel) an. In Python könnte das so aussehen:

In [1]:
zettel1 = "Guido van Rossum, De Serpenti Libri, 1455"

Wir vergeben zunächst einen Namen, unter dem wir die Daten im Arbeitsspeicher des Rechners ablegen wollen. Wir erschaffen damit eine *Variable*. In unserem Fall ist das `zettel1`. Das Gleichheitszeichen gibt an, das anschließend der eigentliche Inhalt dieser Variable folgt. Das Zuordnen von Variablennamen und in ihrem Inhalt erfolgt immer nach dem Muster `variablenname = inhalt`.

Variablennammen werden in Python in der Regel kleingeschrieben. Sie können aus Kombinationen von Zeichen und Zahlen bestehen, wobei Zeichen am Anfang stehen müssen. Auch können sie Unterstriche '_' enthalten (*snake case*), aber keine Bindestriche '-'. Je nach Geschmack können sie auch die Form `dasIstEineVariable` (*camel case*) annehmen. Hauptsache ist, die Namen sind sprechend und die Form einheitlich. Ausgeschlossen sind lediglich eine Handvoll Funktionsnamen, Schlüsselbegriffe oder Operatoren wie `and`, `or`, `file`, `is` u.ä.

Zurück zu unserem Zettel: Wir erstellen also eine Variable mit dem Namen `zettel1`, deren Inhalt aus den Zeichen `Guido van Rossum, De Serpenti Libri, 1455` besteht.

Der Inhalt unserer Variablen beginnt und endet mit einem Anführungszeichen. Für Python bedeutet das, dass der Inhalt der Variable eine Zeichenkette, ein sogenannter *string* ist. Innerhalb der Anführungszeichen kann nahezu jedes beliebige Zeichen stehen.

Aufpassen allerdings muss man, wenn man innerhalb eines *strings* ein Anführungszeichen nutzt möchte, denn dieser würde ja eigentlich den *string* beenden. Abhilfe schafft hier die Unterscheidung in einfache und doppelte Anführungszeichen:

In [4]:
variable1 = "Das ist bekannt."
variable2 = "Ich sagte: 'Hier haben wie zwei unterschiedliche Anführungszeichen'."
variable3 = 'Sie antwortete: "Und auch das geht."'
variable4 = """Mehrzeilige Zeichenketten schließt man am besten
in drei Anführungszeichen ein. Dann weiß Python, 
dass sich die Zeichenkette über mehrere Zeilen erstreckt."""

Im Alltag begegnet man vor allem den einfachen und den doppelten Anführungszeichen. Für welche man sich entscheidet, ist Geschmackssache. Wichtig ist nur, dass immer das zweite Anführungszeichen eines Paares die Zeichenkette wieder schließt.

Eine Sonderform stellen Zeichenketten dar, die mit *drei* doppelten Anführungszeichen eingeleitet werden. Damit schließt man *strings* ein, in denen ein Zeilenumbruch vorkommt.

## Konkatenieren

Zurück zu unserem ersten Zettel mit dem namen `zettel1`.

In [7]:
zettel1

'Guido van Rossum, De Serpenti Libri, 1455'

(Indem wir in einem *Jupyter Notebook* nur den Variablennamen in eine Code-Zelle einfügen, und diese Zeile dann druch das Drücken der Tasten `Shift + Enter` oder von `Strg + Enter` ausführen, können wir uns den Inhalt der Variable ansehen.)

In ihm haben wir zwar drei bibliographischen Angaben eines Buches hinterlegt. Auf diese Weise fällt es uns aber schwer, auf die einzelnen semantischen Einheiten unseres Zettels wie Autor, Titel oder Jahreszahl zuzugreifen. Wir trennen deshalb zunächst die bibliographischen Angaben voneinander und setzen sie anschließend für unseren Zettel wieder zusammen.

In [3]:
autor = "Guido van Rossum"
titel = "De Serpenti Libri"
jahreszahl = 1455

In einem ersten Schritt erstellen wir drei Variablen, eine für den Autor, eine für das Jahr der Veröffentlichung und eine für den Titel. In einem zweiten Schritt erstellen wir einen Zettel, der aus diesen Angaben besteht. Damit wir zwischen den einzelnen Angaben Kommata und Leerzeichen erhalten, müssen wir sie explizit mit einbauen. Dieses Verfahren, bei dem wir eine längere Zeichenkette aus einzelnen Abschnitten zusammensetzen, nennt sich *konkatenieren*.

In [4]:
zettel2 = autor + ", " + titel + ", " + jahreszahl

TypeError: can only concatenate str (not "int") to str

Allerdings erhalten wir hierbei noch einen sogenannten *TypeError*: Zwei unterschiedliche Datentypen sollen miteiander konkateniert werden. Das kann Python aber nicht. Am Ende der Fehlermeldung erhalten wir den Hinweis, dass nur *strings* miteinander konkateniert werden können. Bei unserer Jahreszahl handelt es sich aber noch um eine *Zahl*, einen *integer*. Diese müssen wir noch in einen *strin* verwandeln, um sie mit anderen *strings* zusammensetzen zu können. Wir nutzen dafür die Funktion `str()`, die uns Python standardmäßig zur Verfügung stellt:

In [5]:
jahr = str(jahreszahl)

Nun tauschen wir in unserer Definition von `zettel2` die Variable `jahreszahl` mit `jahr` aus und können auf diese Weise die Angaben konkatenieren:

In [6]:
zettel2 = autor + ", " + titel + ", " + jahr

Keine Fehlermeldung! Und wenn wir uns den Inhalt der Variable anschauen, stellen wir fest, dass er identisch mit dem Inhalt von unserem ersten Zettel ist.

In [7]:
zettel2

'Guido van Rossum, De Serpenti Libri, 1455'

Das können wir überprüfen, indem wir den `==`-Operator verwenden. Mit ihm setzt man nicht gleich wie bei `=`, sondern man prüft, ob die beiden Werte links und rechts neben dem doppelten Gleichheitszeichen identisch sind. Als Rückgabewert erhalten wir `True`, das heißt `zettel1` entspricht `zettel2`.

In [8]:
zettel1 == zettel2

True

Das Praktische daran, die bibliographischen Daten voneinander zu trennen, ist, dass wir sie einzeln bearbeiten können. Falls wir beispielsweise die Angabe des Autors auf unserem Zettel großgeschrieben haben wollen, lässt sich das schnell erreichen. Dafür überschreiben wir unsere Variable `zettel2` und ändern das Erscheinungsbild der Variable `autor`, indem wir mit der Methode `upper.()` den Inhalt von `autor` in Großbuchstaben ausgeben:

In [9]:
zettel2 = autor.upper() + ", " + titel + ", " + jahr
zettel2

'GUIDO VAN ROSSUM, De Serpenti Libri, 1455'

Wenn wir uns jetzt den Inhalt von `autor` ausgeben lassen, stellen wir fest, dass er unverändert geblieben ist. Wir haben lediglich die Ausgabe des Inhalts verändert, als wir ihn auf unseren `zettel2` geschrieben haben.

In [10]:
autor

'Guido van Rossum'

Auf den Unterschied von Funktionen und Methoden gehen wir später noch ausführlicher ein. An dieser Stelle genügen: Funktionen können Objekte verändern. Methoden sind Fähigkeiten, die Objekte von sich aus mitbringen. Mit der Funktion `str()` verwandeln wir bspw. eine Zahl in einen *string*. *Strings* wiederum bringen die Fähigkeit `upper()` mit, durch die wir deren Inhalt großschreiben können.

## Interpolieren

Es gibt eine zweite, häufig verwendete Möglichkeit, aus einzelnen Daten eine Zeichenkette zusammenzusetzen: das Interpolieren. Dafür nutzen wir sogenannte *formatierte Zeichenketten*. Zwei Wege führen zum Ziel. Variante 1:

In [11]:
zettel3 = "{}, {}, {}".format(autor, titel, jahr)
zettel3

'Guido van Rossum, De Serpenti Libri, 1455'

In [12]:
zettel1 == zettel3

True

Wir vergeben wieder einen Variablennamen, diesmal `zettel3` und setzen als Inhalt einen leeren *string* ein. Die geschweiften Klammern markieren dabei Leerstellen, die wir mit einem Inhalt füllen wollen. Dafür greifen wir auf die Methode `format()` von *strings* zurück und übergeben in den runden Klammern die Inhalte, die an die Stelle der geschweiften Klammern geschrieben werden sollen.

Auch hier können wir den Inhalt der Variablen anders ausgeben, z.B. kleingeschrieben:

In [13]:
zettel3 = "{}, {}, {}".format(autor, titel.lower(), jahr)
zettel3

'Guido van Rossum, de serpenti libri, 1455'

In [14]:
zettel1 == zettel3

False

Weil wir hier den Titel kleingeschrieben auf unseren Zettel eintragen, entspricht der Inhalt von `zettel1` nicht dem von `zettel3`.

Variante 2: Einfacher, weil übersichtlicher erreichen wir das gleiche Ziel, wenn wir nicht die `format()`-Methode anwenden, sondern die Variablennamen gleich in den geschweiften Klammern schreiben. Damit das möglich ist, müssen wir Python allerdings zu verstehen geben, dass wir den *string* formatieren wollen. Dafür stellen wir ein 'f' den ersten Anführungszeichen voran:

In [16]:
zettel4 = f"{autor.upper()}, {titel}, {jahr}"
zettel4

'GUIDO VAN ROSSUM, De Serpenti Libri, 1455'

In [17]:
zettel2 == zettel4

True

## Listen: Vom Zettel zum Zettelkatalog

Inzwischen haben wir vier Zettel zusammen, die sich teilweise doppeln und teilweise in der Groß- und Kleinschreibung unterscheiden. Packen wir sie trotzdem in einen Zettelkasten!

In [18]:
kasten = [zettel1, zettel2, zettel3, zettel4]
kasten

['Guido van Rossum, De Serpenti Libri, 1455',
 'GUIDO VAN ROSSUM, De Serpenti Libri, 1455',
 'Guido van Rossum, de serpenti libri, 1455',
 'GUIDO VAN ROSSUM, De Serpenti Libri, 1455']

Wir erstellen dafür eine Liste mit dem Namen `kasten`. Listen erkennt man in Python an den eckigen Klammern '[]', mit denen sie geöffnet und geschlossen werden. Die einzelnen Elemente einer Liste werden mit Kommata getrennt. Besonders praktisch sind Listen, weil ihre Elemente aus unterschiedlichen Datentypen bestehen können.

Um Listen zu ergänzen, kann man mit der Methode `append()` einzelne Elemente an sie anhängen.

In [19]:
kasten.append('Hab etwas vergessen')
kasten

['Guido van Rossum, De Serpenti Libri, 1455',
 'GUIDO VAN ROSSUM, De Serpenti Libri, 1455',
 'Guido van Rossum, de serpenti libri, 1455',
 'GUIDO VAN ROSSUM, De Serpenti Libri, 1455',
 'Hab etwas vergessen']

Mithilfe ihrer Methode `pop()` entfernt man das letzte Elemente.

In [20]:
kasten.pop()
kasten

['Guido van Rossum, De Serpenti Libri, 1455',
 'GUIDO VAN ROSSUM, De Serpenti Libri, 1455',
 'Guido van Rossum, de serpenti libri, 1455',
 'GUIDO VAN ROSSUM, De Serpenti Libri, 1455']

Auf einzelnen Listenelemente lässt sich mithilfe ihres sogenannten Index zugreifen. Die Indexzahl des gesuchten Elementes schreibt man dafür in eckige Klammern direkt hinter den Listennamen. Besonders verwirrend ist am Anfang, dass das erste Element einer Liste stets die Indexzahl 0 hat:

In [23]:
# Wählt das erste Element aus.
kasten[0]

'Guido van Rossum, De Serpenti Libri, 1455'

In [22]:
# Wählt das Element an dritter Stelle aus (beginnend bei 0).
kasten[2]

'Guido van Rossum, de serpenti libri, 1455'

In [24]:
# Wählt das letzte Element aus.
kasten[-1]

'GUIDO VAN ROSSUM, De Serpenti Libri, 1455'

Auf diese Weise können auch einzelne Elemente überschrieben werden:

In [40]:
kasten[1] = "Monty Python, Flying Circus, 1970"
kasten[2] = "Umberto Eco, Der Name der Rose, 1982"
kasten[3] = "Goethe, Wahlverwandschaften, 1809"
kasten

['Guido van Rossum, De Serpenti Libri, 1455',
 'Monty Python, Flying Circus, 1970',
 'Umberto Eco, Der Name der Rose, 1982',
 'Goethe, Wahlverwandschaften, 1809']

Mithilfe des sogenannten *slicing* können auch mehrere Elemente ausgewählt werden:

In [39]:
print(kasten[1-4])

GUIDO VAN ROSSUM, De Serpenti Libri, 1455

NameError: name 'zettel1' is not defined